/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* anchor focus */
a:focus {
  outline: 8px double $info;
}

svg[title="External Link"] {
  width: 18px;
  height: auto;
  margin: 0 0 0 0.3125rem;
}

.double-arrow-icon svg,
.send svg {
  width: 18px;
  height: auto;
  display: inherit;
  justify-content: baseline;
}

svg[data-prefix="fab"] {
  width: 44px;
  height: auto;
}

/* Text meant only for screen readers */
.skip-link {
  background-color: $info;
  color: #fff;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-1000%);
  transition: transform 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}
// .skip-link:not(:focus),
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
/* extra example */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}
