*,
::after,
::before {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: montserrat, sans-serif;
}

body {
  color: $black;
  line-height: 1.65;
  text-rendering: optimizeSpeed;
}

main {
  margin: 0 auto !important;
  padding: 0;
}

hr {
  color: $color-border;
  margin-bottom: 1.5em;
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 700;
  max-width: 48ch;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

.post-title {
  padding-top: 1.5em;
  text-align: center;
}

p {
  max-width: 65ch;
}

img {
  display: block;
  height: auto;
}

i {
  padding-left: 0.5rem;
}

// @media screen and (min-width: 48rem) {
// }

// @media screen and (min-width: 70rem) {
// }
