*,
::after,
::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  // font-size: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  font-family: montserrat, sans-serif;
  font-size: 18px;
}

body {
  color: $black;
  line-height: 1.65;
  // font-optical-sizing: auto;
  text-rendering: optimizeSpeed;
}

main {
  margin: 0 auto !important;
  padding: 0;
}

hr {
  color: $color-border;
  margin-bottom: 1.5em;
  width: 100%;
}

// h1,
// h2,
// h3 {
//   font-weight: 700;
//   // max-width: 48ch;
// }

// h1 {
//   font-size: 2.5rem;
// }

// h2 {
//   font-size: 2rem;
// }

// h3 {
//   font-size: 1.6rem;
// }

// h4 {
//   font-size: 1.4rem;
// }

.page-title,
.post-title {
  // padding-top: 1.5em;
  text-align: center;
}

p {
  margin: 0 0 1rem 0;
  max-width: 75ch;
}

img {
  display: block;
  height: auto;
}

i {
  padding-left: 0.5rem;
}

.centered {
  margin: 0 auto;
  padding: 0 1rem;
}

.width {
  max-width: 1440px;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

/* ############ Media Query, (min-width: 700px) ############ */
// @media screen and (min-width: 43.75rem) {
// }

/* ############ Media Query, (min-width: 768px) ############ */
@media screen and (min-width: 48rem) {
  .centered {
    max-width: 48rem;
  }
}

/* ############ Media Query, (min-width: 1000px) ############ */
@media screen and (min-width: 62.5rem) {
  .code-snippets {
    margin-left: 5rem;
    max-width: 52rem;
  }
}