---
layout: page
title: Blog
permalink: /blog/
navigation_weight: 2
---
<h1 class="blogPageTitle">{{ page.title }}</h1>
<div class="blogPageWrapper">

<article class="categoryExpo">
  <section class="categoryExpoList">
    <ul>
      {% for category in site.categories %}
      <li>
        <a href="#{{ category[0] | slugify }}""
          >{{ category[0] }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </section>
  <hr />
  <section class="categoryExpoSection">
    {% for category in site.categories %}
    <h2 id="{{ categories[0] | slugify }}">{{ category | first }}</h2>
    <ul>
      {% for post in category[1] %}
      <li>&ndash;&nbsp;<a class="archive" href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
  </section>
</article>
</div>
