---
layout: home
title: Home
---

<!-- Blog -->
<section class="featured" id="featuredBlogPost">
  <h2 class="visually-hidden">Blog</h2>
  <!-- CTA1 to Blog -->
  <article class="cta cta1">
    <h3>Featured Post</h3>
    <p>
      As I navigate through the tech industry&comma; I keep in
      mind&period;&period;&period;
      <strong>
        &quot;Success is a journey not a destination&semi; just keep learning
        and keep growing&period;&quot;</strong
      >
      As a newbie to development there are so many directions to go and I am
      constantly running into interesting topics&period; This is just the
      beginning&period;
    </p>
  </article>
  <!-- Featured Posts Cards -->
  <article>
    <h3 class="visually-hidden">List of blog post.</h3>
    <ul class="featured-list">
      {% if page.url == "/" %} {% for post in site.tags.Pinned %}
      <li>
        <img
          src="{{ post.image }}"
          alt=""
          role="presentation"
          aria-hidden="true"
        />
        <h4>{{ post.title }}</h4>
        <p>{{ post.description }}</p>
        <a href="{{ post.url }}" class="read-more"> Read More ⟶ </a>
      </li>
      {% endfor %} {% endif %}
    </ul>
  </article>
</section>

<!-- Developer -->
<section>
  <h2 class="visually-hidden">Front-End Developer Work</h2>
  <!-- CTA2 to GitHub -->
  <article class="cta">
    <h3>Source Code</h3>
    <p>
      Currently, I believe that my thought process is in a object-oriented
      approach. I want to write code that can be individually reusable and
      self-sufficient in nature.
      <a
        href="https://github.com/melissakipp"
        target="_blank"
        rel="noopener noreferrer"
        >Take a look at my Repository<span class="accessible-icon"
          ><svg
            title="External Link"
            focusable="false"
            data-prefix="fas"
            data-icon="external-link-alt"
            class="svg-inline--fa fa-external-link-alt fa-w-16"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
            ></path></svg></span
      ></a>
    </p>
  </article>
  <!-- Dev cards -->
  <article>
    <h3 class="visually-hidden">Informational card about website project.</h3>
    <ul class="cards">
      <li class="card">
        <figure role="group">
          <img
            class="thumbnail"
            src="assets/images/portfolio-website_melissajkipp.webp"
            alt="Screenshot of Melissa Kipp's portfolio."
          />
          <figcaption class="card-content">
            <h4>Personal Website</h4>
            <p>
              My goal for this project was to create a smooth and effortless
              digital experience. I wanted to make a site that was highly unique
              and memorable. While I was working through the project, several
              times, I would run into one problem after another. So, in true
              beginner fashion, I decided to cut back on full control and follow
              a tutorial. As I mimic
              <a href="https://www.linkedin.com/learning/instructors/emily-kay"
                >Emily Kay’s course</a
              >, I was able to work out some of my own personal flaws with the
              process of design to development.<br />
              <a
                class="link__code"
                href="https://github.com/melissakipp/melissajkipp"
                >Check out this GitHub Repo<span class="accessible-icon"
                  ><svg
                    title="External Link"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="external-link-alt"
                    class="svg-inline--fa fa-external-link-alt fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
                    ></path></svg></span
              ></a>
              .
            </p>
          </figcaption>
          <section>
            <header class="tech-stack__title">Tech Stack</header>
            <ul class="tech-stack">
              <li>Jekyll</li>
              <li>Sass</li>
              <li>Docker</li>
              <li>GitHub</li>
              <li>AWS</li>
            </ul>
          </section>
        </figure>
      </li>
    </ul>
  </article>
</section>

<!-- Design -->
<section>
  <h2 class="visually-hidden">Graphic Design</h2>
  <!-- CTA3 to Behance -->
  <article class="cta">
    <h3>Creativity</h3>
    <p>
      I understand the benefits of minimalism in design, but time is short,
      color and chaos are alluring.
      <a
        href="https://www.behance.net/melissajkipp"
        target="_blank"
        rel="noopener noreferrer"
        >Checkout my Designs<span class="accessible-icon"
          ><svg
            title="External Link"
            focusable="false"
            data-prefix="fas"
            data-icon="external-link-alt"
            class="svg-inline--fa fa-external-link-alt fa-w-16"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
            ></path></svg></span
      ></a>
    </p>
  </article>
  <!-- Design cards -->
  <article class="design-container" id="designProjects">
    <!-- Illustrations/Graphic Design Work Bubbles -->
    <!-- For design I need to put a scope and summary for each project -->
    <h3 class="visually-hidden">Informational cards about design projects.</h3>
    <ul class="design-carousel">
      <li class="carousel__item carousel__item--visible">
        <div class="card__img-containter">
          <img
            class="card__img"
            src="assets/images/socialMediaPost-card-sm.webp"
            alt=""
            role="presentation"
            aria-hidden="true"
          />
        </div>
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="card__svg"
          viewBox="0 0 800 500"
        >
          <path
            d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
            stroke="transparent"
            fill="#101820"
          />
          <path
            class="card__line"
            d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
            stroke="pink"
            stroke-width="3"
            fill="transparent"
          />
        </svg>
        <div class="card__content">
          <h4 class="card__title">Social Media Content</h4>
          <p>
            I help to create purposeful digital products that is hand crafted.
            To engage your audience at every touchpoint that is fresh and unique
            that is on budget, and on time. A digital strategy can increase your
            brand’s reach that is shareable and engaging. A strong visual
            identity gives you the tools you need to communicate with your
            audience.
          </p>
        </div>
        <a
          class="design-link"
          href="https://www.behance.net/gallery/129786491/Social-Media-Post"
          >See Details<span class="accessible-icon"
            ><svg
              title="External Link"
              focusable="false"
              role="img"
              data-prefix="fas"
              data-icon="external-link-alt"
              class="svg-inline--fa fa-external-link-alt fa-w-16"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
              ></path></svg></span
        ></a>
      </li>
      <li class="carousel__item carousel__item--visible">
        <div class="card__img-containter">
          <img
            class="card__img"
            src="assets/images/youtubeThumbnail-card-sm.webp"
            alt=""
            role="presentation"
            aria-hidden="true"
          />
        </div>
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="card__svg"
          viewBox="0 0 800 500"
        >
          <path
            d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
            stroke="transparent"
            fill="#101820"
          />
          <path
            class="card__line"
            d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
            stroke="pink"
            stroke-width="3"
            fill="transparent"
          />
        </svg>
        <div class="card__content">
          <h4 class="card__title">Brand Identity</h4>
          <p>
            From a single logomark to a full brand identity. I do not just hand
            off design concepts in tools such as Adobe XD, but I also enjoy
            working in the browser. With a “Just Enough Research” style, I
            bridge problem solving and visual impact. This brings together your
            users along with a great design experience. I work with a
            forward-thinking business approach to ensure your brand evolves as
            your business grows.
          </p>
        </div>
        <a
          class="design-link"
          href="https://www.behance.net/gallery/129892423/YouTube-Thumbnail-Designs"
          >See Details<span class="accessible-icon"
            ><svg
              title="External Link"
              focusable="false"
              role="img"
              data-prefix="fas"
              data-icon="external-link-alt"
              class="svg-inline--fa fa-external-link-alt fa-w-16"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
              ></path></svg></span
        ></a>
      </li>
      <li class="carousel__item carousel__item--visible">
        <div class="card__img-containter">
          <img
            class="card__img"
            src="assets/images/brandIdentity-card-sm.webp"
            alt=""
            role="presentation"
            aria-hidden="true"
          />
        </div>
        <svg
          aria-hidden="true"
          focusable="false"
          class="card__svg"
          role="presentation"
          viewBox="0 0 800 500"
        >
          <path
            d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
            stroke="transparent"
            fill="#101820"
          />
          <path
            class="card__line"
            d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
            stroke="pink"
            stroke-width="3"
            fill="transparent"
          />
        </svg>
        <div class="card__content">
          <h4 class="card__title">Web Design and Development</h4>
          <p>
            From low fidelity wireframing to a final code. A website, no matter
            how pretty, is only as good as the code it’s built on. I will make
            sure your site meets all coding best practices, including mobile
            friendliness, SEO, and accessibility. Your brand needs to stand out
            in a beautiful presentation, and this is one of the most powerful
            ways to do it.
          </p>
        </div>
        <a
          class="design-link"
          href="https://www.behance.net/gallery/67962763/Branding-Strategy"
          >See Details<span class="accessible-icon"
            ><svg
              title="External Link"
              focusable="false"
              data-prefix="fas"
              data-icon="external-link-alt"
              class="svg-inline--fa fa-external-link-alt fa-w-16"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
              ></path></svg></span
        ></a>
      </li>
    </ul>
  </article>
</section>

<!-- Photo Gallary-lery -->
<section>
  <h2 class="visually-hidden">Photography</h2>
  <!-- CTA4 to Stock Img -->
  <article class="cta">
    <h3>Image Gallery <span class="visually-hidden">with caption</span></h3>
    <p>
      The journey of capturing authentic stories. Currently, I am a hobbyist
      that is working towards a competent level photographer and maybe someday
      achieving world-class status.
      <a
        href="https://www.behance.net/melissajkipp"
        target="_blank"
        rel="noopener noreferrer"
        >Checkout my stock images<span class="accessible-icon"
          ><svg
            title="External Link"
            focusable="false"
            data-prefix="fas"
            data-icon="external-link-alt"
            class="svg-inline--fa fa-external-link-alt fa-w-16"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
            ></path></svg></span
      ></a>
    </p>
  </article>
  <blockquote class="annie">
    "Nature is so powerful, so strong. Capturing its essence is not easy - your
    work becomes a dance with light and the weather. It takes you to a place
    within yourself.<br />--<cite>Annie Leibovitz</cite>
  </blockquote>
  <article class="gallery-wrap">
    <!-- <div class="fig-wrap"> -->
    <figure>
      <img
        src="/assets/images/gallery-1_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>Cabega Cactus at the Desert Botanical Garden</figcaption>
    </figure>
    <figure class="gal_w">
      <img
        src="/assets/images/gallery-2_w.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Cityscape photograph of Tempe Town Lake waterfront view.
      </figcaption>
    </figure>
    <figure class="gal_p">
      <img
        src="/assets/images/gallery-3_p.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Cityscape photograph of Downtown Phoenix, Arizona.
      </figcaption>
    </figure>
    <figure>
      <img
        src="/assets/images/gallery-4_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        A baby Black-Chinned Hummingbird perched in a tree
      </figcaption>
    </figure>
    <!-- <figure class="gal_w">
      <img src="/assets/images/gallery-5_w.webp" alt=""  role="presentation" aria-hidden="true" />
      <figcaption>Landscape photograph of Superstition Mountains (aka Sierra de la Espuma)</figcaption>
    </figure> -->
    <figure>
      <img
        src="/assets/images/gallery-6_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Summer to fall change at the Water Ranch Reserve in Gilbert Arizona.
      </figcaption>
    </figure>
    <figure class="gal_p">
      <img
        src="/assets/images/gallery-7_p.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>Cityscape image of Downtown Phoenix, Arizona</figcaption>
    </figure>
    <figure>
      <img
        src="/assets/images/gallery-8_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        A photograph of the moon, a bird flying, and Saguaro Cacti at dawn.
      </figcaption>
    </figure>
    <figure class="gal_w">
      <img
        src="/assets/images/gallery-9_w.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Travel photographer of a horseback tour of the San Tan Trail to Hedgehog
        Trail.
      </figcaption>
    </figure>
    <figure class="gal_w">
      <img
        src="/assets/images/gallery-10_w.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Landscape photograph of San Tan Trail to Hedgehog Trail mountain tops.
      </figcaption>
    </figure>
    <figure class="gal_p">
      <img
        src="/assets/images/gallery-11_p.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Cityscape photograph of Downtown Phoenix, Arizona.
      </figcaption>
    </figure>
    <figure class="gal_w">
      <img
        src="/assets/images/gallery-12_w.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        A snow covered landscape photo of Superstition Mountains (a.k.a Sierra
        de la Espuma) on an unusally cold winter storm.
      </figcaption>
    </figure>
    <!-- <figure>
      <img
        src="/assets/images/gallery-13_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>A photo of a light storm sky.</figcaption>
    </figure> -->
    <figure class="gal_p">
      <img
        src="/assets/images/gallery-14_p.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Cityscape photograph of Tempe Town Lake waterfront view.
      </figcaption>
    </figure>
    <figure>
      <img
        src="/assets/images/gallery-15_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        A photo of the moon at dawn with thin clouds streaking arcoss.
      </figcaption>
    </figure>
    <figure class="gal_w">
      <img
        src="/assets/images/gallery-16_w.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Landscape photograph of San Tan Trail to Goldmine Trail mountain tops.
      </figcaption>
    </figure>
    <figure class="gal_p">
      <img
        src="/assets/images/gallery-17_p.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>Cityscape photograph of Tempe Town Lake.</figcaption>
    </figure>
    <figure class="gal_w">
      <img
        src="/assets/images/gallery-18_w.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Landscape photo of Superstition Mountains (a.k.a Sierra de la Espuma).
      </figcaption>
    </figure>
    <figure>
      <img
        src="/assets/images/gallery-19_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Wildlife photograph of a Cactus Wren coming out of it's Saguaro Cactus
        nest.
      </figcaption>
    </figure>
    <figure>
      <img
        src="/assets/images/gallery-20_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>Desert landscape photo.</figcaption>
    </figure>
    <figure>
      <img
        src="/assets/images/gallery-21_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Four soccer balls on a Gilbert youth Soccer Association field.
      </figcaption>
    </figure>
    <figure>
      <img
        src="/assets/images/gallary-9_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Arizona Gray Squirrel at the Water Ranch reserve in Gilbert Arizona.
      </figcaption>
    </figure>
    <figure>
      <img
        src="/assets/images/gallery-9_l.webp"
        alt=""
        role="presentation"
        aria-hidden="true"
      />
      <figcaption>
        Wildlife photo of a Queen in Patagonia at the Desert Botanical Garden.
      </figcaption>
    </figure>
    <!-- </div> -->
  </article>
</section>
