.about-content {
  padding: 2rem 0;
  & article p {
    margin: 0 0 2rem 0;
  }
}
.personal {
  font-weight: 700;
  margin: 1.75rem 0;
  text-align: center;
  & h2 {
    padding: 0 0 1rem 0;
  }
}

.resume-link {
  background-color: $primary;
  border-radius: 6px;
  color: $white;
  font-weight: 700;
  padding: 0.65rem;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: $info;
  }
}
