.about-title,
.personal {
  text-align: center;
}

// .aboutContent {
//   display: flex;
//   flex-flow: column wrap;
//   justify-content: center;
// }

.personal {
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.resumeLink {
  background-color: $bg;
  color: $white;
  padding: 0.45rem;
  &:hover {
    background-color: $primary;
  }
}
