.blogPageTitle {
  display: block;
  text-align: center;
  margin: 2rem auto;
  width: 100%;
}

.blogPageWrapper {
  margin: 1rem;
}

.categoryExpo {
  height: 100vh;
  margin: 2rem 0;
}

.categoryExpoList {
  margin-bottom: 1rem;
  & ul {
    list-style-type: none;
    display: inline-flex;
    flex-flow: row wrap;
    & li {
      margin-right: 0.5rem;
      & a {
        background-color: $primary;
        border-radius: 6px;
        color: $white;
        padding: 0.34rem;
        text-decoration: none;
        &:hover {
          background-color: #333;
        }
      }
    }
  }
}

.categoryExpoSection {
  // & h2 {
  //   margin-bottom: 1rem;
  // }
  & ul {
    list-style-type: none;
    margin-bottom: 1rem;
    & li {
      margin-left: 1rem;
      margin-bottom: 0.35rem;
    }
  }
}

.categoryExpoSection ul li a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
}

/* ############ Media Query, (min-width: 1000px) ############ */
@media screen and (min-width: 1000px) {
  /* ######### Blog Page ######### */
  .blogPageWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
