/* ############ Mobile-First -  Hero ############ */
.hero {
  background: radial-gradient($black 3px, transparent 4px),
    radial-gradient($black 3px, transparent 4px),
    linear-gradient($white 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    $white;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  display: grid;
  grid-template-columns: 10px 2fr 10px;
  grid-template-rows: 2rem 1fr 2rem;
  gap: 0.5rem;
  text-align: center;
}

.hero span svg {
  margin: auto;
  padding: 1rem 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.hero .hero-items {
  background-color: $bg-light;
  border-radius: 18px;
  color: $white;
  font-size: calc();
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 1rem 1rem 2rem;
  & p {
    line-height: 1.5;
    margin-bottom: 2rem;
  }
}

.cta-btn {
  align-items: center;
  background-color: $secondary;
  border: none;
  border-radius: 6px;
  color: $black;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  margin: 0.75rem auto 0;
  padding: 0.48em;
  text-decoration: none;
  width: 50%;
  & span {
    margin-left: 0.5rem;
  }
  &:hover {
    background-color: $info;
    color: $white;
  }
}

/* ############ CTA ############ */
.cta {
  background-image: $bg-g;
  color: $white;
  margin: 2rem auto;
  padding: 2rem;
}

.cta h3 {
  margin-right: 1rem;
}

.cta p {
  border-left: solid 1px $white;
  margin-bottom: 1.5rem;
  max-width: 700px;
  padding-left: 1rem;
}

.cta a {
  border-radius: 6px;
  color: $white;
  &:hover {
    font-size: 1.15rem;
    font-weight: 700;
  }
}

.cta1 {
  margin-top: 0;
}

/* ############ Media Query ############ */
/* ############ Media Query, (min-width: 700px) ############ */
@media screen and (min-width: 43.75rem) {
  .hero {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0.25fr 1fr 0.25fr;
    align-items: center;
    & span svg {
      max-width: 60%;
    }
  }

  .hero .hero-items {
    grid-column: 3 / 7;
    text-align: center;
  }

  /* ############ Design ############ */
  .design {
    max-width: 48rem;
    margin: auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(2, auto);
  }

  .design h3 {
    order: 2;
    grid-column: 2 / -1;
    align-self: center;
  }

  .designProjects {
    order: 1;
    grid-column: 1 / -1;
  }

  .design p {
    border-right: solid 1px #dedede;
    padding-right: 1rem;
    order: 2;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

/* ############ Media Query, (min-width: 768px) ############ */
@media screen and (min-width: 48rem) {
  .hero {
    height: 85vh;
    & span svg {
      max-width: 60%;
    }
  }

  .cta {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 200px;
  }

  .cta h2 {
    padding-right: 1rem;
  }

  /* ############ Design ############ */
  .design {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(2, auto);
    margin: auto;
    max-width: 48rem;
    padding: 0 1rem;
  }
}

// @media screen and (min-width: 62rem) {
// }

/* ############ 10c. gallery Query ############ */
/* SAFARI 11+ */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .galleryWrap {
      align-items: stretch;
    }
    .galleryWrap figure img {
      height: inherit;
    }
  }
}
