/* ############ Mobile-First - Post ############ */
.post-content {
  margin: 2rem;
  // & ol {
  //   margin: 2rem;
  //   padding: 0;
  //   & li {
  //     padding-bottom: 3rem;
  //   }
}

.center-img {
  margin: 0 0 2em 0;
  width: 100%;
}
.post-content ul li:last-of-type {
  margin-bottom: 2rem;
}

.post-info {
  margin-bottom: 1em;
  & ul {
    list-style-type: none;
    padding: 0;
    & li {
      margin-bottom: 1em;
      text-align: center;
    }
  }
}

.post-summary {
  margin: 2rem;
}

blockquote {
  border-left: 0.5rem solid $primary;
  font-size: 1.15rem;
  font-style: italic;
  padding: 1rem 0 1rem 1rem;
  margin: 3em 0;
}

.screenshot {
  margin: 2em 0;
}

/* ############ Media Query, (min-width: 1100px) ############ */
@media screen and (min-width: 68.75rem) {
  .post-info ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    & li:last-child {
      display: block;
    }
  }
}
