/* ############ Mobile-First - Post ############ */
.post-content ul,
ol {
  margin: 0 2rem 2rem;
  padding: 0;
}

.post-info {
  margin-bottom: 1em;
  & ul {
    list-style-type: none;
    padding: 0;
    & li {
      margin-bottom: 1em;
      text-align: center;
    }
  }
}

blockquote {
  border-left: 0.5rem solid $primary;
  font-size: 1.15rem;
  font-style: italic;
  padding: 1rem 0 1rem 1rem;
  margin: 3em 0;
}

.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.pagination {
  text-align: center;
}

.screenshot {
  margin: 2em 0;
}

/* ############ Media Query, (min-width: 1100px) ############ */
@media screen and (min-width: 68.75rem) {
  .post-info ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    & li:last-child {
      display: block;
    }
  }
}
