.title-container {
  background-color: $gray;
  padding: 1rem 2rem;
}

.btn-container {
  background-color: $gray;
  display: flex;
  justify-content: end;
  & .download-link {
    background-color: $primary;
    border: 5px double $white;
    border-radius: 6px;
    color: $white;
    cursor: pointer;
    letter-spacing: 0.75px;
    padding: 0.25rem 0.45rem;
    text-decoration: none;
    &:hover {
      background-color: $info;
      box-shadow: $lite-box;
    }
  }
}

.canvas-bg {
  background: $gray;
  font-size: 10pt;
  padding: 1rem 0 3rem 0;
}

hr {
  color: $bg;
  border-width: 0.12rem;
  margin: 0.5rem auto 0.5rem auto;
}

.resume-container {
  margin: 0 auto;
  padding: 0.4in; /* controls margins */
  width: 8.5in;
  height: 11.1in;
  background-color: $white;
  box-shadow: $lite-box;
  overflow: hidden;
  & h3 {
    color: $primary;
    font-size: 22pt;
  }
  & h4 {
    color: $primary;
    font-size: 16pt;
    margin: 0.25rem 0;
  }
  & h5 {
    color: $primary;
    font-size: 12pt;
    margin: 0.25rem 0;
  }
  & h6 {
    color: $primary;
    font-size: 12pt;
    margin: 0.25rem 0;
  }
  .noBlock {
    display: inline;
  }
}

.cert-list ul {
  list-style-type: none;
}

.multicolumn {
  display: grid;
  grid-template-areas: "col1 col2";
  gap: 1rem;
}

.col1 {
  grid-area: col1;
}

.col2 {
  grid-area: col2;
}

.multicol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "col3 col4";
  gap: 1rem;
}

.work3 {
  grid-area: col3;
}

.work4 {
  grid-area: col4;
}

// .multi {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-areas: "col5 col6";
//   gap: 1rem;
// }

// .cert5 {
//   grid-area: col5;
// }

// .cert6 {
//   grid-area: col6;
// }

.tech-skills {
  padding: 0 0 0 2rem;
}

// .cert-list .cert5 {
//   padding: 0 0 0 2rem;
// }
// .cert-list .cert6 {
//   padding: 0 0 0 4.1rem;
// }

.resume-projects ul {
  list-style-type: none;
}

.work {
  & ul {
    list-style-type: none;
    & ul {
      list-style-type: square;
      margin: 0 0 0 1rem;
    }
  }
}

.job-title {
  font-size: 12pt;
  font-weight: 700;
  margin: auto auto 0 auto;
}

p.dates,
p.employer,
.description {
  margin: 0;
  padding: 0 0 0 1rem;
}

address {
  display: block;
  font-style: normal;
}

@media print {
  html {
    height: 11in;
    width: 8.5in;
    overflow: hidden;
  }

  body {
    margin: 0;
  }

  .resume-container {
    width: 100%;
    box-shadow: none;
  }
}
