/* ##### Mobile First ####### */
/* ######## Footer ######### */
footer {
  margin-top: 3rem;
}
/* ######## Footer ######### */
.form {
  align-items: center;
  border-bottom: 2px solid $black;
  border-top: 2px solid $black;
  display: flex;
  justify-content: center;
  text-align: center;
  h2 {
    margin: 0 0 1rem 0;
  }
  a {
    background-color: $primary;
    border: none;
    border-radius: 4px;
    color: $white;
    padding: 0.5rem;
    text-decoration: none;
  }
}

/* ######### 9. Footer ######### */
/* #################################################### */
/* ################## Social Connect ################## */
/* #################################################### */
.social,
.contact-info {
  background: $bg-g;
  color: $white;
  padding: 1rem 1rem 0;
  text-align: center;
}

.social h3 {
  border-bottom: solid 1px $black;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
}

.social-icons {
  font-size: 200%;
  padding: 1rem 0;
  list-style-type: none;
}

.social-icons li {
  display: inline-block;
  & a {
    color: $white;
    padding: 0 0.5rem;
  }
}

.social-icons li a:hover {
  color: $secondary;
}

/* ############################################ */
/* ################ Contact-Info ############## */
/* ############################################ */
.contact-info {
  padding-top: 0;
}

.contact-info article {
  padding: 1rem 0;
}

.contact-info h3 {
  font-weight: 400;
  margin: auto;
}

.contact-info li {
  font-weight: 300;
  list-style-type: none;
}

.copy {
  font-size: 70%;
  font-weight: 300;
  margin: auto;
  padding-top: 1rem;
}

/* ####################################################################### */
/* #################### Media Query, (min-width: 700px) ################## */
/* ####################################################################### */
@media screen and (min-width: 700px) {
  /* ################### Footer ################# */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.05fr;
  }

  /* ############################################ */
  /* ############### Social Connect ############# */
  /* ############################################ */
  .social h3 {
    border-bottom: none;
    padding: 0.5rem 1rem 0.5rem 0;
    text-align: right;
  }

  .social article {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
  }

  .social-icons {
    border-left: 1px solid $white;
    font-size: 125%;
    padding: 0.5rem 0 0.5rem 1rem;
  }

  .social-icons a {
    display: block;
  }

  /* ############################################ */
  /* ################ Contact-Info ############## */
  /* ############################################ */
  .contact-info {
    background: $white;
    color: $black;
    grid-column: 1 / -1;
  }
}

/* ####################################################################### */
/* ################### Media Query, (min-width: 1000px) ################## */
/* ####################################################################### */
@media screen and (min-width: 1000px) {
  /* ############# Social Connect ########### */
  .social article {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-icons {
    border-left: none;
    padding-left: 0;
  }

  .social-icons a {
    display: inline-block;
    font-size: 180%;
  }
}
