/* ############ Mobile-First - Navigation ############ */

#primary-nav {
  background: $bg-g;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0 0;
  a .logo {
    width: 64px;
    height: 64px;
  }
  & .main-nav {
    grid-column: 1 / span 2;
    & ul {
      align-content: center;
      background: $bg-g; //#262262;
      // display: block; // Once the menu gets bigger
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
      list-style-type: none;
      & li a {
        color: $white;
        display: block;
        font-weight: 700;
        padding: 0.75rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.4s ease-in;
      }
    }
  }
}

#primary-nav ul li a:hover,
#primary-nav ul li a:focus {
  background: $black;
}

#primary-nav ul li a:active {
  border: 2px solid $secondary;
}

#hamburger {
  background: transparent;
  border: none;
  display: flex;
  justify-self: end;
  margin: 1rem 2rem 1rem 0;
}

#hamburger #expanded {
  display: none;
}

#hamburger svg {
  width: 3em;
  height: 3em;
}

#hamburger span {
  display: block;
  position: relative;
}

#hamburger[aria-expanded="true"] span {
  position: static;
}

#hamburger[aria-expanded="true"] #expanded {
  display: block;
}

#hamburger[aria-expanded="true"] + .main-nav {
  display: block;
}

.js-enabled .main-nav {
  display: none;
}

/* ############ 10a. Media Query, (min-width: 700px) ############ */
@media screen and (min-width: 43.75rem) {
  #hamburger {
    display: none;
  }
  .js-enabled .main-nav {
    display: block;
  }

  #primary-nav {
    display: block;
    & .container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      & a .logo {
        height: 90px;
        margin: 0 0 0.5rem 0;
        width: 90px;
      }
    }
  }
}
