<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta
    name="description"
    content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />
  <meta name="author" content="Developed and design by Melissa Kipp" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <!-- Favicon -->
  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="/assets/mjk-icon-logo_black_ico/apple-icon-57x57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="/assets/mjk-icon-logo_black_ico/apple-icon-60x60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="/assets/mjk-icon-logo_black_ico/apple-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="/assets/mjk-icon-logo_black_ico/apple-icon-76x76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="/assets/mjk-icon-logo_black_ico/apple-icon-114x114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="/assets/mjk-icon-logo_black_ico/apple-icon-120x120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="/assets/mjk-icon-logo_black_ico/apple-icon-144x144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="/assets/mjk-icon-logo_black_ico/apple-icon-152x152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/assets/mjk-icon-logo_black_ico/apple-icon-180x180.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="/assets/mjk-icon-logo_black_ico/android-icon-192x192.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/mjk-icon-logo_black_ico/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="/assets/mjk-icon-logo_black_ico/favicon-96x96.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/mjk-icon-logo_black_ico/favicon-16x16.png"
  />
  <link rel="manifest" href="/assets/mjk-icon-logo_black_ico/manifest.json" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta
    name="msapplication-TileImage"
    content="/assets/mjk-icon-logo_black_ico/ms-icon-144x144.png"
  />
  <meta name="theme-color" content="#ffffff" />

  <!-- syntax highlight -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/highlight.js@11.2.0/styles/a11y-dark.css"
  />

  <!-- load adobe fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/vfw3tos.css" />
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
  <!-- reCaptcha -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    function onSubmit(token) {
      document.querySelector("#contactForm").submit();
    }
    // How to validate reCaptcha based on score
    function validateRecaptcha() {
      const response = grecaptcha.getResponse();
      if (response.length === 0) {
        console.log("recaptcha not verified");
        return false;
      } else {
        alert("recaptcha validated");
        return true;
      }
    }
  </script>
</head>
