<h1 class="brand">Melissa Kipp</h1>

<div id="navbar">
  <nav class="main-nav" aria-label="Main">
    <button class="menu-btn" id="menuBtn" type="button" role="button" aria-pressed="false" title="Open or close main menu">
        <svg id="burger" class="open-menu" xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 24 21"><defs><style>.a{fill:#101820;}</style></defs><path class="a" d="M.857,63.857H23.143A.857.857,0,0,0,24,63V60.857A.857.857,0,0,0,23.143,60H.857A.857.857,0,0,0,0,60.857V63A.857.857,0,0,0,.857,63.857Zm0,8.571H23.143A.857.857,0,0,0,24,71.571V69.429a.857.857,0,0,0-.857-.857H.857A.857.857,0,0,0,0,69.429v2.143A.857.857,0,0,0,.857,72.429ZM.857,81H23.143A.857.857,0,0,0,24,80.143V78a.857.857,0,0,0-.857-.857H.857A.857.857,0,0,0,0,78v2.143A.857.857,0,0,0,.857,81Z" transform="translate(0 -60)"/></svg>
    </button>
    <ul class="main-nav__list" id="topNav" hidden>
      <header class="sr-only">Main Menu</header>
      <li class="main-nav__item"><a class="main-nav__link" href="#">Home</a></li>
      <li class="main-nav__item"><a class="main-nav__link" href="#">About</a></li>
      <li class="main-nav__item"><a class="main-nav__link" href="#">Blog</a></li>
      <li class="main-nav__item"><a class="main-nav__link" href="#">Contact</a></li>
    </ul>
  </nav>
</div>