<section class="navWrap">
  <a href="/">
    <img
      src="../assets/images/mjk-icon-logo-white.png"
      alt="MJK logo"
      class="logo"
    />
  </a>
  <input type="checkbox" id="navToggle" class="navToggle" />
  <label for="navToggle" class="navToggleLabel"><span></span></label>
  <nav>
    <ul>
      <!-- <li><a href="#home">Home</a></li> -->
      <li><a href="/about">About</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/resume" class="btn">Resume</a></li>
    </ul>
  </nav>
</section>
