<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <!-- header -->

    <!-- navigation -->
    {% include navigation.html %}

    <main>
      <h1>post title</h1>
      {{ content }}
      <!-- Trips -->

      <!-- CTA1 -->

      <!-- Team -->

      <!-- CTA2 -->

      <!-- Problem -->

      <!-- Actions -->

      <!-- CTA3 -->

      <!-- Photo Gallery -->
    </main>

    <!-- Footer -->
    <footer>
      <!-- Contact Form -->

      <!-- Social Media -->

      <!-- Contact Info -->
    </footer>
  </body>
</html>
