<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <!-- header -->

    <!-- navigation -->
    {% include navigation.html %}

    <main>
      <h1 class="post-title">{{ page.title }}</h1>
      <hr />
      {{ content }}
      <!-- Trips -->

      <!-- CTA1 -->

      <!-- Team -->

      <!-- CTA2 -->

      <!-- Problem -->

      <!-- Actions -->

      <!-- CTA3 -->

      <!-- Photo Gallery -->
    </main>

    <!-- Footer -->
    {% include footer.html %}
  </body>
</html>
